/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900&display=swap'); */

html, body {
    height: 100%;
    margin: 0;
    
    font-family: 'Archivo Black', sans-serif;
}

body {
    /* background-color: #D0CAC2; */
    background-color: #ede2d8;
    
    
}


.yellow {
    color: #F2DF4B;
}

.orange {
    color: #FF9F37;
}

.red {
    color: #FB5058;
}

.purple {
    color: #C452B4;
}

.violet {
    color: #3B44AC;
}

.brown {
    color: #3C2415; 
}


/* Phone stuff */

@media screen and (orientation:portrait)
{
   body
   {
       /* Change this please geez */
      background: red;
   }

   div.alert {
       display: block;
   }

   div.container, #scroller {
       display: none;
   }
}

.alert {
    display: none;
}

/* Landing Page Sect */
.bigboi {
    display: flex;
    justify-content: center;
    font-size: 16vw;
  
    width: 100%;
}

.container {

    height: auto;

}

.row {
    display: grid;
    grid-template-columns: 23% 20% auto 20% 23%;
}

.vhs {
    width: 100%;
    background-image: url('./assets/polaroid_stripe-01.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.row1 {
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
}

.row2 {
    grid-column-start: 4;
    grid-row-start: 1;
    justify-self: end;
    align-self: end;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;

}

.item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;

   

}

#right_circ {
    -webkit-animation: rotation 4s infinite linear;
    -moz-animation: rotation 4s infinite linear;
    -o-animation: rotation 4s infinite linear;
    -ms-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear;
}


@-webkit-keyframes rotation {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
    0% { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes rotation {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
}
@keyframes rotation {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
} 


#left_circ {
    -webkit-animation: rotation-i 3s infinite linear;
    -moz-animation: rotation-i 3s infinite linear;
    -o-animation: rotation-i 3s infinite linear;
    -ms-animation: rotation-i 3s infinite linear;
    animation: rotation-i 3s infinite linear;
}


@-webkit-keyframes rotation-i {
    0% { -webkit-transform: rotate(360deg);}
    100% { -webkit-transform: rotate(0deg);}
}
@-moz-keyframes rotation-i {
    0% { -moz-transform: rotate(360deg);}
    100% { -moz-transform: rotate(0deg);}
}
@-o-keyframes rotation-i {
    0% { -o-transform: rotate(360deg);}
    100% { -o-transform: rotate(0deg);}
}
@-ms-keyframes rotation-i {
    0% { -ms-transform: rotate(360deg);}
    100% { -ms-transform: rotate(0deg);}
}
@keyframes rotation-i {
    0% { transform: rotate(360deg);}
    100% { transform: rotate(0deg);}
} 




/* The Meat and Content */

.contain-content {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 15% 23% 23% 23% 15%;
    grid-template-rows: auto;
    grid-template-areas:
        "space-a title-1 title-1 space-1 space-1"
        "space-b content content space-2 space-2"
        "space-c content-b title-2 title-2 space-4";

    height: inherit;
    
}

.title {
    font-family: 'Archivo Black';
    font-size: 3vw;
    color: #000000;
    grid-area: title-1;
}

.t1 {
    grid-area: title-1;
}

.t2 {
    margin-top: 10vw;
    margin-bottom: -5vw;
    grid-area: title-2;
    justify-self: end;
}

.info {
    font-size: 1.5vw;
    grid-area: content;

}

/* Footer */

nav {
    /* margin-top: -10%; */
    padding: 20px;
    display: grid;

    grid-template-columns: repeat(10, 10%);

    grid-template-areas: "space-0 logo vendor vendor space space space social-1 social-2 social-3";
}

.vendor {
    grid-area: vendor;
    font-size: 10px;
}

.logo {
    width: 30%;
    grid-area: logo;
}


.vhs-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;

}

/* Scrolly effect */

body::-webkit-scrollbar {  
    display: none;
    /* overflow-y: scroll; */
    
}



.scrolling-text{
    font-size: 7vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; 
}






