/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900&display=swap'); */

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #D0CAC2;
    
    
}

@media screen and (orientation:portrait)
{
   body
   {
      background: red;
   }

   div.alert {
       display: block;
   }

   div.container, #scroller {
       display: none;
   }
}

.alert {
    display: none;
}

.container {
    /* margin-top: 8%; */
    display: grid;
    grid-template-columns: 23% 20% auto 20% 23%;
    height: auto;
    grid-template-rows: 15% 15%;

    

    background-image: url('./assets/polaroid_stripe-01.svg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center center;
}

.contain-content {
    /* margin-top: 8%; */
    display: grid;
    grid-template-columns: 23% 20% auto 20% 23%;
    height: inherit;
    grid-template-rows: 15% 15% auto;

    

    background-image: url('./assets/polaroid_stripe-01.svg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center center;
}

nav {
    /* margin-top: -10%; */
    color: #3C2415;
    padding: 0 30px 0 30px;
    grid-column-start: 1;
    grid-column-end: 2;
    /* justify-self: end; */
    font-family: 'Archivo Black', sans-serif;


    
    /* float: left; */

}

.title {
    margin-top: 10vw;
    font-family: 'Archivo Black';
    font-size: 3vw;
    color: #3C2415;
}

.bigboi {
    display: flex;
    justify-content: center;
    font-size: 16vw;
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
}

.info {
    font-size: 1.5vw;
    font-family: 'Archivo Black';
    color: #3C2415;

}

.row1 {
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
}

.row2 {
    grid-column-start: 4;
    grid-row-start: 1;
    justify-self: end;
    align-self: end;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
   

}

/* .item {
    
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    justify-self: end;
} */

.content {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: -3vw;
}



.vhs-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;

}
body::-webkit-scrollbar {  
    display: none;
}

.scrolling-text{
    
    font-family: 'Source Code Pro', monospace;
    font-size: 10vw;

    /* align-self: end;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6; */
    
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}




.yellow {
    color: #FFE700;
}

.orange {
    color: #FF9F37;
}

.red {
    color: #FB5058;
}

.purple {
    color: #C452B4;
}

.violet {
    color: #3B44AC;
}


